@value breakpointMd, breakpointLg from '@/lib/styles/breakpoints.module.css';

.root {
  height: 100vh;
  background-repeat: no-repeat;
  background: url(/home-gradient-bg.jpg) no-repeat, linear-gradient(180deg, rgba(0,0,0,0) 0%, #000 100%);
  background-size: 100%;
  background-blend-mode: overlay, normal;
}

.title {
  margin-bottom: 1.25rem;

  @media (min-width: breakpointMd) {
    margin-bottom: 1.5rem;
  }
}

