@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-100: #000000;
  --background-64: rgba(0,0,0,0.64);

  --white-100: #FFFFFF;
  --white-72: rgba(255, 255, 255, 0.72);
  --white-55: rgba(255, 255, 255, 0.55);
  --white-32: rgba(255, 255, 255, 0.32);
  --white-24: rgba(255, 255, 255, 0.24);
  --white-12: rgba(255, 255, 255, 0.12);

  --brand-900: #A88DFF;
  --brand-1000: #CBBBFF;

  --foreground-72: rgba(255, 255, 255, 0.72);
}

body {
  background: var(--background-100);
  color: var(--foreground-72);

  font-size: 1rem;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.02rem;
}


p {
  margin-bottom: 0.75rem;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}