@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-100: #000000;
  --foreground-100: #FFFFFF;
}

body {
  color: var(--foreground-100);
  background: var(--background-100)
}
