@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-100: #000000;
  --background-64: rgba(0,0,0,0, 0.64);

  --foreground-72: rgba(255, 255, 255, 0.72);
}

body {
  background: var(--background-100);
  color: var(--foreground-72);

  font-size: 1rem;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.02rem;
}
