@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-100: #000000;

  --foreground-72: rgba(255, 255, 255, 0.72);
}

body {
  background: var(--background-100);
  color: var(--foreground-72);
}
